
.photosLayout {
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 10px;

}

.photoLayout {
    position: relative;
    flex:1;
    scroll-snap-align: start;
    margin: 0px;
    padding-left: 10px;
}

.photoImage {
    display:flex;
    gap:5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 355px;
    height: 265px;
    border-radius: 9px;
    /*padding: 5px;*/
}

.photoTitleContainer {
    height: 40px;
    display:grid;
    grid-template-columns: 308px 25px 25px;
    align-items: center;
    cursor:default;
    margin-right: 10px;
    padding-left: 1em;
}


.photoTitle {
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 87, 204);
}

.photoCreationDate {
    margin-right: 10px;
    padding-left: 1em;
}

.photoDetailsOwner {
    display:grid;
    grid-template-columns: 50px auto;
    margin:5px;
    font-size: 1.2em;
    font-weight: bold;
    align-items: center;
    gap:5px;

}
.sharedImage {
    position: absolute;
    background-color: white;
    top: 0.3em;
    left: 4.5em;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color:white;
    border:2px solid white;
    background-size: cover;
    opacity: 0.65;
    z-index: 1;
}
.photoDetailsTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin:5px;
}
.photoDetailsDescription {
    font-size: 1.2em;
    margin:5px;
    text-align:justify;
}

.photoCreationDate {
    font-size: 0.87em !important;
    color:dodgerblue;
    display:grid;
    align-items: center;
}
.likesSummary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:grid;
    grid-template-columns: 60px 30px;
    align-items: center;
    text-align: right;
}
.photoDetailsCreationDate {
    color:dodgerblue;
    margin:5px;
    display:grid;
    grid-template-columns: auto 95px;
    align-items: center;
}
.photoDetailsLargeImage {
    width:100%;
    object-fit: cover;
    padding: 5px;
}


